<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div>
        <div class="justify-center flex overflow-x-hidden overflow-y-auto fixed inset-0 z-50 backdrop-filter backdrop-blur-md">
            <div class="flex absolute">
                <div class="ml-3 relative">
                    <a href="http://sla-client-290821-env.ap-southeast-1.elasticbeanstalk.com/auth/login" class="flex p-2 items-center text-gray-600 rounded-lg hover:text-gray-400 text-xl font-medium focus:outline-none">
                        Login
                    </a>
                </div>
                <div class="px-0 ml-4 relative">
                    <a href="http://sla-client-290821-env.ap-southeast-1.elasticbeanstalk.com/auth/register" class="flex p-2 items-center text-gray-600 rounded-lg hover:text-gray-400 text-xl font-medium focus:outline-none">
                        Sign up
                    </a>
                </div>
            </div>
            <div class="mt-64">
                <h1 class="text-3xl font-bold text-gray-700 ">
                    <span>Account Activated Successful!</span>
                </h1>
            </div>

        </div>
    </div>
</body>
</html>